*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1d435f;
    color: white;
}


/* Nedenstående kode låser siden, så man ikke kan scrolle selv - så SKAL man bruge knapperne */

/*body, html {
    overflow: hidden;
} */



.startPage
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(Images/Background2.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d435f;
    background-size: cover; /* Add this line */

  min-height: 500px;




}

.innermain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 90vw;
}

#inner2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

}


.uniqueSvg {
    pointer-events: none;
}

#factBox { 
    position: relative;
    visibility: hidden;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    left: -700px;
    top: 10px;
    width: 200px;
    z-index: 100;
    color: black;
}


.button {
    display: block;
    width: 355px;
    height: 50px;
    background-color: rgba(73, 68, 68, 0.3);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(13, 12, 12);
}

  /* transport graf */
  #test {
    position: relative;
    z-index: 1;
    left: -200px;
    bottom: -100px;
  }

  /* transport bar */
.bar { 
    fill: steelblue;
 }

.axis-label { 
    font-size: 12px; 
}


.header {
width: 90%;
height: 100px;
display: flex;
justify-content: end;
align-items: center;

}
.arrowBack{
    rotate: 90deg;
}
.arrowDown{
    rotate: 270deg;
}
.arrowHome{

    height: 50%;
}







.dilemmaKnapper1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
}


.dilemmaButton {
    color: rgb(217, 209, 209);
    width: 20%;
    height: 80%;
    background-color: rgba(35, 137, 227, 0.901);
    border-radius: 5px;
    font-size: larger;
    border: 1px solid rgb(16, 15, 15);
    transition: 1s;
    position: relative;
    cursor: pointer;
    overflow: hidden;

}
  
.dilemmaButton:hover {
    background-color: rgba(43, 38, 38, 0.9);
    border: 1px solid white;
}


 .dilemmaImages1 {
        margin-top: 10%;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 200px;
    }
.sandwichImg, .kaffeImg, .havregrynImg, .coldShowerImg, .hotShowerImg {
        height: 200px;
        width: 15%;
    
    }

    .sandwichImg, .kaffeImg, .havregrynImg, .coldShowerImg, .hotShowerImg{
        opacity: 0;
        transition: opacity 2s ease, transform 2s ease;
    }
    .sandwichImg.visible, .kaffeImg.visible, .havregrynImg.visible, .coldShowerImg.visible, .hotShowerImg.visible{
        opacity: 1;
        transform: translateY(0);
    }




    
h1 {
    color: white;
    position: relative;
    
}

#updateChartBtn{
    color: rgb(217, 209, 209);
    width: 30%;
    height: 10%;
    background-color: rgba(35, 137, 227, 0.901);
    border-radius: 5px;
    font-size: larger;
    border: 1px solid rgb(16, 15, 15);
    transition: 1s;
    cursor: pointer;
    overflow: hidden;


}



.backbtn {
    /* Udseende */
    color: white;
    background-color: rgba(35, 137, 227, 0.901);
    padding: 6px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: larger;

}

.forwardbtn {

    color: white;
    background-color: rgba(35, 137, 227, 0.901);
    padding: 6px;
    border: 1px solid rgb(21, 19, 19);
    border-radius: 8px;
    font-size: larger;
  
}

.topbtn {
    color: white;
    background-color: #2389e3e6;
    padding: 6px;
    border: 1px solid rgb(21, 19, 19);
    border-radius: 8px;
    font-size: larger;
   
}

